[user]
    email             = 8456085+dzlzh@users.noreply.github.com
    name              = dzlzh
[alias]
    lg                = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    st                = status
    mr                = merge --no-edit
[core]
    quotepath         = false
    ignorecase        = false
    autocrlf          = input
    safecrlf          = true
	editor            = /bin/nvim
[gui]
    encoding          = utf-8
[i18n]
    commitencoding    = utf-8
    logoutputencoding = utf-8
[push]
    default           = current
[commit]
    template          = ~/.gitmessage
[pull]
	rebase = false
