# nvim
/nvim/autoload/
/nvim/plugged/
/nvim/preload.vim
/nvim/afterload.vim
/nvim/session/
/nvim/tmp/

# rime
/rime/.place_holder
/rime/build/
/rime/installation.yaml
/rime/user.yaml
/rime/wubi86.userdb/

# polybar
/polybar/.env
