export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS="@im=fcitx"

export LESS="-XFR"
export EDITOR='/bin/nvim'
export BROWSER='google-chrome-stable'

export GOPATH=$HOME/.config/go/GOPATH
export PATH=$PATH:$GOPATH/bin

export WINEDLLPATH=/usr/lib/i386-linux-gnu/deepin-wine5
export WINELOADER=/usr/lib/i386-linux-gnu/deepin-wine5/wine
export WINESERVER=/usr/lib/i386-linux-gnu/deepin-wine5/wineserver
